body {
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
    margin: 0px;
    background-color: black;
}

main {
    height: 100%;
    margin: 0px;
}

header {
    padding: 5px 0;
    width: 100%;
}

.home-hero {
    background-image: url("../img/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Verdana", Geneva, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 20%;
    height: 100%;   
}

.home-menu {
    font-size: 125%;
}

.about {
    padding-top: -30px;
    color: white;
    font-size: 15px;
}

#profile {
    width: 10%;
    float: right;
 }

.footer {
    text-align: right;
    color: #C0C0C0;
}
 #aboutApp{
     text-align: center;
     padding: 3%;
 }

#maomao{
    width: 33%;
    float:right;
    padding-top:7%;
}

#manman{
    width: 33%;
    float:left;
    padding-top:7%;
}

#ererbi{
    width: 33%;
    display: inline-block;
    text-align: center;
}

#aboutUs {
    padding-left: 11%;
    padding-right: 11%;
}

.about h2{
    font-size: 25px;
}