html{
    height: 100%;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-top:50px;
    min-height: 100%;
    margin: 0px;
}

main{
    height: 100%;
    margin: 0px;
}

header {
    padding: 5px 0;
    width: 100%;
}
/*#headercontainer, #contentcontainer { width: 960px;*/
    /*margin: 0 auto; position: relative; }*/

.home-hero {
    background-image: url("images/splat.jpg");
    color: white;
    font-family: "Verdana", Geneva, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px black;
}

.home-menu {
    font-size: 125%;
}

.footer {
    text-align: right;
}

