body {
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
    margin: 0px;
    background-color: black;
}

header {
    padding: 5px 0;
    width: 100%;
}

main {
    height: 100%;
    margin: 0px;
}

footer {
    text-align: right;
    color: #C0C0C0;
}

.home-menu {
    font-size: 125%;
}

.home-hero {
    background-image: url("../img/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Verdana", Geneva, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 20%;
    height: 100%;   
}

.about {
    padding-top: -30px;
    color: white;
    font-size: 110%;
}

#aboutApp {
    text-align: center;
    padding: 3%;
}

#app-pic {
    max-width: 40%;
    height: auto;
    width: auto;
}

#aboutUs {
    padding-left: 11%;
    padding-right: 11%;
}

#ererbi {
    width: 33%;
    display: inline-block;
    text-align: center;
    position: relative;
}

#dev-pic {
    max-width: 100%;
    height: auto;
    width: auto;
}

.dev-bio {
    width: 33%;
    padding-top:7%;
}

#maomao {
    float:right;
}

#manman {
    float:left;
}

