<div class="row">
    <div class="col-xs-6">  <!-- col 1 -->
        <div id="movieform">

            <!-- TODO should put code below in sub-view... but will leave it like this for now.-->

            <div class="editActions">
                <input type="button" id="moviesave"
                       class="btn btn-primary save"
                       name="save" value="Save Changes"/>
                <input type="button" id="moviedel"
                       class="btn btn-danger delete"
                       name="delete" value="Delete Movie"/>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="movie_title" class="col-sm-3 control-label">Title</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. Day of the Jackal"
                           name="movie_title" value="<%= title %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="released" class="col-sm-3 control-label"> Released </label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. 1969"
                           name="released" value="<%= released %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="director" class="col-sm-3 control-label">Director</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. Steven"
                           name="director" value="<%= director %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="rating" class="col-sm-3 control-label">Director</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. G, PG, PG-13, R"
                           name="rating" value="<%= rating %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="starring" class="col-sm-3 control-label">Starring</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. Steve Martin John Bolushi"
                           name="starring" value="<%= starring %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="duration" class="col-sm-3 control-label">Duration</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. 122 minutes"
                           name="duration" value="<%= duration %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="genre" class="col-sm-3 control-label">Genre(s)</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. comedy, thriller, action"
                           name="genre" value="<%= genre %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="synopsis" class="col-sm-3 control-label">Synopsis</label>
                    <input type="text" class="col-sm-9"
                           placeholder="summary of the movie plot"
                           name="synopsis" value="<%= synopsis %>"/>
                    <span class="help-block"></span>
                </div>

                <!--<div class="form-group">-->
                    <!--<label for="freshTotal" class="col-sm-3 control-label">Fresh Total</label>-->
                    <!--<input type="text" class="col-sm-9"-->
                           <!--placeholder="e.g. 1969"-->
                           <!--name="freshTotal" value="<%= freshTotal %>"/>-->
                    <!--<span class="help-block"></span>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="freshVotes" class="col-sm-3 control-label">Fresh Votes</label>-->
                    <!--<input type="text" class="col-sm-9"-->
                           <!--placeholder="e.g. 1969"-->
                           <!--name="freshVotes" value="<%= freshVotes %>"/>-->
                    <!--<span class="help-block"></span>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="trailer" class="col-sm-3 control-label">Trailer URL</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. https://www.archive.org/trailerboom.mp4"
                           name="trailer" value="<%= trailer %>"/>
                    <span class="help-block"></span>
                </div>

            </div>

        </div>
    </div>  <!-- end column 1 -->

    <div class="col-xs-6">  <!-- col 2 -->
        <div id="movieimg">
        </div>
    </div>   <!-- end column 2 -->
</div> <!-- row -->
