<div class="row">
    <div class="col-xs-6">  <!-- col 1 -->
        <div id="movieform">

            <!-- TODO should put code below in sub-view... but will leave it like this for now.-->

            <div class="editActions">
                <input type="button" id="moviesave"
                       class="btn btn-primary save"
                       name="save" value="Save Changes"/>
                <input type="button" id="moviedel"
                       class="btn btn-danger delete"
                       name="delete" value="Delete Movie"/>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="movie_title" class="col-sm-3 control-label">Title</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. Day of the Jackal"
                           name="movie_title" value="<%= title %>"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="released" class="col-sm-3 control-label">Title</label>
                    <input type="text" class="col-sm-9"
                           placeholder="e.g. 1969"
                           name="released" value="<%= released %>"/>
                    <span class="help-block"></span>
                </div>

                <!--//TODO add all other fields-->
            </div>

        </div>
    </div>  <!-- end column 1 -->

    <div class="col-xs-6">  <!-- col 2 -->
        <div id="movieimg">
        </div>
    </div>   <!-- end column 2 -->
</div> <!-- row -->
