<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail plain" title="some message">
    <div class="some_class">
        <h3>Hello <%= title %></h3>

        <!--<a href="ADD-CODE" class="plain">-->
        <!--&lt;!&ndash;<video class="img-responsive" controls poster="<%= ADD-CODE %>" >&ndash;&gt;-->
            <!--&lt;!&ndash;<source src="<%= trailer %>" type="video/mp4"/>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; fallback &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;Your browser does not support the video format.&ndash;&gt;-->
        <!--&lt;!&ndash;</video>&ndash;&gt;-->

        <!--<div class="some_class_2">-->
            <!--<%= title %> (<%= released %>)<br/>-->
            <!--&lt;!&ndash;Directed by: <%= director %> <br/>&ndash;&gt;-->
            <!--&lt;!&ndash;Starring: <%= starring %> <br/>&ndash;&gt;-->
            <!--&lt;!&ndash;Genres: <%= genre %> Rating: <%= rating %> <br/>&ndash;&gt;-->
        <!--</div>-->
      <!--</a>-->
    </div>
  </div>
</div>
