<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail single-movie plain" title="some message">
        <div class="single-movie-thumbnail">
            <a href="#movies/<%= _id %>" class="plain">

              <video class="img-responsive" controls poster="<%= poster %>" >
              <source src="<%= trailer %>" type="video/mp4"/>
               fallback
              Your browser does not support the video format.
              </video>

              <div class="some_class_2">
                <%= title %> (<%= released %>)<br/>
                Directed by: <%= director %> <br/>
                Starring: <%= starring %> <br/>
                Genres: <%= genre %> Rating: <%= rating %> <br/>
              </div>

            </a>
        </div>
    </div>
</div>