<div>
    <div id="swatchButton">
    <a class="btn btn-lg home-btn pull-left" href="<%if (typeof _id === 'undefined'){%>#movies/add<%}else{%>#movies/<%= _id %>/reviews<%}%>">
        <div class="movieSwatch pull-left">
            <img id="movieSwatch"
                 src="img/<%if (freshTotal>= 0.5){%>fresh_lg.png<%}else{%>rotten_lg.png<%}%>" class="pull-left img-responsive" />
            <div class="movieFreshInfo"> <%= Math.round((freshTotal/freshVotes) *100) %>% (<%= freshVotes %>)</div>
        </div>
    </a>

  <p id="dropImage">
    <img id="editImage" class="editImage img-responsive" src="<%= poster %>"/>
  </p>

  <div class="imageSelect">
     <label for="imageInput" class="fileInput btn btn-info uploadLabel">
       <input id="imageInput" name="file" type="file" 
              class="fileImage authattr"
              accept="image/*" capture="camera"/>
       <span>Snap Photo/<br/>Choose File</span>
     </label>
     <p class="buttonInstructions">
       <em class="photoUpload">drag-drop photo onto above image, or</em>
     </p>
  </div>
      </div>
</div>
