<div class="freshnessSelect">
    <label class="radio-inline">
        <input type="radio" id="freshSelect" class="btn btn-primary save authattr"
               name="freshness" value="1"/> Fresh<img src="img/fresh_lg.png"/>
    </label>
    <label class="radio-inline">
        <input type="radio" id="rottenSelect" class="btn btn-danger delete authattr"
               name="freshness" value="0"/> Rotten<img src="img/rotten_lg.png"/></label>
</div>

<!-- note form name attributes match Movie model attribute names so no mapping
     is needed - same idea as JSP mapping to Bean fields -->
<div class="form-horizontal">
    <div class="form-group">
        <label for="reviewText" class="col-sm-3 control-label">Enter your review</label>
        <input type="text" class="col-sm-9 authattr"
               name="reviewText" placeholder="e.g. Day of the Jackal"
               value="<%= reviewText %>"/>
    </div>
    <div class="form-group">
        <label for="reviewName" class="col-sm-3 control-label">Name</label>
        <input type="text" class="col-sm-9 authattr"
               name="reviewName" placeholder="e.g. Day of the Jackal"
               value="<%= reviewName %>"/>
    </div>v
    <div class="form-group">
        <label for="reviewAffil" class="col-sm-3 control-label">Affiliation</label>
        <input type="text" class="col-sm-9 authattr"
               name="reviewAffil" placeholder="e.g. Day of the Jackal"
               value="<%= reviewAffil %>"/>
    </div>
</div>

<div class="editActions">
    <input type="button" id="reviewmovie" class="btn btn-primary save authclass" name="submit" value="Review Movie"/>
</div>

